.message {
    display: flex;
    flex-direction: column;
}

.imageAndText {
    max-width: 60%;
    display: flex;
    align-items: self-end;
    justify-content: flex-start;
    gap: 20px;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    position: relative;
    padding: 10px;
    background-color: #F5F7FB;
    border-radius: 10px 10px 10px 0px;
    height: 60px;
}

.text::after {
    content: '';
    position: absolute;

    left: -15px;
    bottom: 0;

    width: 0;
    height: 0;

    border-right: 15px solid #F5F7FB;
    border-top: 15px solid transparent;
}

.name {
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}

.messageText {
    font-family: Montserrat, serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.time {
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 10px;
    padding-left: 10px;
    color: #000000;
}