.sendForm {
 display: flex;
 padding-top: 40px;
 gap: 20px;
 padding-bottom: 20px;
}

.textarea {
 min-height: 40px;
 max-height: 40px;
 min-width: 300px;
 width: 70%;
 resize: none;
 overflow: hidden;
 background: #f5f0f0;
 border-radius: 20px;
 line-height: 40px;      /* Выравнивание по центру высоты */
 text-align: left;       /* Выравнивание по левому краю */
 box-sizing: border-box; /* Чтобы padding-left не увеличивал общую ширину поля */
 padding-top: 0;
 padding-bottom: 0;
 padding-left: 25px;     /* Отступ плейсхолдера от левого края */
 flex-grow: 1;
}

.button {
 min-width: 120px;
 height: 40px;
 background: #0055ff;
 border: none;
 border-radius: 20px;

 font-family: Montserrat, serif;
 font-weight: 600;
 font-size: 16px;
 color: #ffffff;
 text-align: center;
}

.button:hover {

}
.button:active {

}
